*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    background-color: darkgrey;
  }
  nav{
    background: #000000;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    letter-spacing: 5px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    letter-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  /* main */
  .container{
width: 723px;
height: 100%;
background: rgb(226, 218, 218);
border: 1px solid #707070;
margin-left: 700px;
margin-top: 10px;
border-radius: 5px;
  }

  .h-c{
    text-align: center;
    font-size: 25px;
    line-height: 2;
  }

  .d-1{
    text-align: right;
    margin-right: 5px;
    color: rgb(98, 151, 105);
    font-size: 22px;
    font-weight: bold;
  }

.dars-1{
width: 100%;
height: 30px;
background: #949292;
border: 1px solid #707070;
text-align: right;
border-radius: 5px;
margin: 0 0 10px;
}

.dars-1 p{
  color: black;
  font-size: 20px;
  line-height: 1.5;
}
.dars-1 p:hover{
  color: #5e788b;
}

.num-cours{
  background-color: red;
  width: 20px;
  height: 20px;
  margin-left: 700px;
  text-align: center;
  color: white;
}

